################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
versions = versions
parts = part
hooks-directory = ${buildout:directory}/hooks
develop-eggs-directory=../../eggs/develop-eggs
eggs-directory=../../eggs/cache

[versions]

[part]
recipe = minitage.recipe:cmmi
url = http://${mirrors:gentoo}/gentoo/distfiles/xmlrpc-c-1.16.06.tar.bz2
md5sum=729d838f7718820d2804172884282897

[mirrors]
gentoo= 85.25.128.62
g2=/mirror.muntinternet.net/pub/
