################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
versions = versions
parts = part
hooks-directory = ${buildout:directory}/hooks
develop-eggs-directory=../../eggs/develop-eggs
eggs-directory=../../eggs/cache

[versions]
setuptools = 0.6c9

[part]
recipe = minitage.recipe:cmmi
url = http://${mirrors:gentoo}/gentoo/distfiles/xmlrpc-c-1.16.06.tar.bz2

[mirrors]
gentoo= 85.25.128.62
g2=/mirror.muntinternet.net/pub/
